# Python build directories
/build/
/src/commits_periodical/__pycache__/
/src/freebsd_git_weekly.egg-info/
# cached data
/projects/freebsd/*.gitcache
# output directory
/out/
# Development tools
/devel-tools/
