index = '''
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FreeBSD git weekly</title>
    <link href="freebsd-git-weekly.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>FreeBSD git weekly</h1>
    <p>
      This is a weekly report about commits to the
      <a href="https://cgit.freebsd.org/src/">FreeBSD source tree</a>.
    </p>
    <p>
      Our goal is to make it easier for developers and users to keep
      track of changes in FreeBSD that are relevant to them, without
      needing to subscribe to the <code>dev-commits-src-main</code>
      mailing list and look at every single commit which lands in their
      mailbox.
    </p>
    <p>
      An email announcing each report is sent to the
      <a href="https://www.tarsnap.com/lists.html">
        freebsd-git-weekly@tarsnap.com</a>
      list.
    </p>
    %s
    <p>
      Here are some alternate reports.
    </p>
    %s
  </body>
</html>
'''

html_begin = '''
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FreeBSD git weekly: %s</title>
    <link href="freebsd-git-weekly.css" rel="stylesheet"/>
  </head>
  <body>
    <h1><a href="index.html">FreeBSD git weekly</a>: %s</h1>
'''

INTRO_SECTION = '''
<section>
<h2>Introduction</h2>
  <p>
    This is a display of mostly-automatically-classified git commits from
    %s to %s.
  </p>
</section>
'''

INTRO_DEBUG_MESSAGE = '''
<div class="debug">
  <p>
    DEBUG: This version of the report is primarily for checking the
    classifiers, and therefore contains extra information (in this colour).
  </p>
</div>
'''

TECHNICAL_NOTES_SECTION = '''
<section id="technical-notes">
<h2>Technical notes</h2>
<p>
  Dates:
</p>
<ul>
  <li>
    The dates are "approximate" because git has no record of exactly when
    each commit was added.  The "author date" and "commit date" are text
    fields controlled by each committer, not the actual date the commit
    reaches <code>cgit.freebsd.org/src</code>.  Git accurately records the
    <em>order</em> of commits, but not their dates.
  </li>
</ul>
<p>
  Automatic grouping:
</p>
<ul>
  <li>
    "Commit & revert pair" groups were automatically grouped when a commit's
    (full) message contained
    <blockquote>
    <code>This reverts commit \\b([0-9a-fA-F]{40})\\b</code>
    </blockquote>
    and the hash was found in this week's
    commits.
  </li><li>
    "Commit group #" groups were automatically grouped when 3 or more
    consecutive commits by the same author had the same category and summary
    prefix.
  </li>
</ul>
<p>
  Automatic categories:
</p>
<ul>
  <li>
    Commits were (mostly) automatically classified based on regex
    pattern-matching on the commit's modified files, summary, or the whole
    commit message.  The goal is to have the system automatically classify 95%
    of the commits, with 95% accuracy; then we'll manually check the results
    and fix the incorrectly-classified and unclassified commits.
  </li>
</ul>
<p>
  Source code:
</p>
<ul>
  <li>
    <a href="https://github.com/Tarsnap/freebsd-git-weekly">https://github.com/Tarsnap/freebsd-git-weekly</a>
  </li>
</ul>
</section>
'''

HTML_SECTION = '''      <h2>%s
<button onClick="showDetails('%s', true)">Expand section</button>
<button onClick="showDetails('%s', false)">Collapse section</button>
</h2>
'''

HTML_COMMIT_TAGLINE = '''
<a
  href="https://cgit.freebsd.org/src/commit/?id=%s"
  target="_blank">%s</a> %s %s
'''

HTML_DETAILS_OUTER = '''      <details>
<summary>%s</summary>
%s
</details>
'''

HTML_DETAILS_INNER = '''
<div class="details">%s</div>
<div class="hash">%s</div>
'''

HTML_END = '''
  <script>
function showDetails(sectionId, state) {
    const section = document.getElementById(sectionId);
    if (!section)
        return;
    const details = section.querySelectorAll('details');
    console.log(details);
    details.forEach(detail => detail.open = state);
}
  </script>
  </body>
</html>
'''

RELEASE_DEBUG = '''
<hr>
<p>
  Generated with commits-periodical %s at %s.
</p>
<p>
  This work is supported by <a href="https://tarsnap.com">Tarsnap Backup Inc.</a>
</p>
<p>
  %s
</p>
'''

# This isn't an HTML template, but oh well.
text_announcement = """
Subject: FreeBSD Git Weekly %s to %s

Hi all,

I'm happy to announce FreeBSD git weekly for %s -- %s:
https://freebsd-git-weekly.tarsnap.net/%s.html

It's a list of the %s commits in that week, split into categories.
%s


To see all reports:
https://freebsd-git-weekly.tarsnap.net/

This work is funded by cperciva@ and Tarsnap Backup Inc.

Cheers,
- Graham Percival
"""

text_highlighted = """
"Highlighted" commits are selected automatically if a commit modifies
UPDATING, or if the commit message contains a "Relnotes:" line.  If you
think that another commit should be highlighted, let me know and I'm
happy to make it so.
"""
