# This file defines a series of classifiers, performed in order (after sorting
# the [table_names]).  Each table name consists of:
#     xy-name-acts_on
# split by "-", where:
#     - xy: is a number for sorting (lowest is applied first)
#     - name: a human-readable string
#
# In addition, every section (other than "Meta") must contain an
#     acts_on =
# key.  Its value can be:
#     - filenames: a list of strings
#     - summary: the first line of the commit message
#     - message: the full (often multi-line) commit message

[Meta]

# If we attempt to classify via filenames and the initial attempt fails,
# omit any names in this list and try again.
_filenames_try_omit = [
    '.*/tests/.*',
    '.*\.[1-9]',
    'UPDATING',
    'sys/conf/files',
    'sys/modules',
    'tests/.*',
    'tools/build/mk/OptionalObsoleteFiles.inc',
]


[00-reverts]

_acts_on = "message"

# We need to find the 'This reverts...' string anywhere in the commit message.
_re_func = "search"

reverts = [
    'This reverts commit \b([0-9a-fA-F]{40})\b',
]


[01-style]

_acts_on = "summary"

# We need to find a pattern anywhere in the commit summary.
_re_func = "search"

style = [
    '[rR]emove stray',
    '[sS]tyle',
    '[tT]ypo',
    '[wW]hite space',
    '[wW]hitespace',
    'license header',
    'spaces to tabs',
]


[02-filenames_wildcards]

_acts_on = "filenames"

doc = [
    '.*\.[1-9]',
]

build = [
    '.*BSDmakefile',
    '.*Makefile',
    'release/.*',
    'share/mk/src.sys.mk',
]


[02b-filenames_wildcards2]
# We need this to not catch '.*Makefile', but it's not worth renumbering all
# the subsequent section names since that will cause a huge git diff.

_acts_on = "filenames"

tests = [
    'bin/.*/test/.*', # special case for ed
    'bin/.*/tests/.*',
    'sbin/.*/tests/.*',
    'tests\/.*',
    'usr.bin/.*/test/.*', # special case for ctags
    'usr.bin/.*/tests/.*',
    'usr.sbin/.*/tests/.*',
]


[03-filenames_plain1]

_acts_on = "filenames"

userland = [
    'bin/',
]

doc = [
    'RELNOTES',
    'UPDATING',
    'share/doc/',
    'tools/kerneldoc/',
    'usr.bin/man/',
    'usr.bin/mandoc/',
]

hardware = [
    "lib/libpmc/",
    "share/misc/pci_vendors",
    "share/misc/usb_vendors",
    "sys/amd64/",
    "sys/arm/",
    "sys/arm64/",
    "sys/dev/",
    "sys/i386/",
    "sys/powerpc/",
    "sys/riscv/",
    "sys/sys/pmc.h",
    "sys/x86/",
]

network = [
    'krb5/',
    'share/sendmail/',
    'sys/net/',
    'sys/net80211/',
    'sys/netgraph/',
    'sys/netinet/',
    'sys/netinet6/',
    'sys/netipsec/',
    'sys/netlink/',
    'sys/netpfil/',
    'sys/netsmb/',
    'sys/nfs/',
    'sys/nfsclient/',
    'sys/nfsserver/',
    'usr.bin/netstat/',
    'usr.bin/sockstat/',
    'usr.sbin/ctld/',
]

admin = [
    'etc/',
    'lib/libpam/modules/pam_krb5/',
    'libexec/',
    'sbin/',
    'share/examples/bhyve/',
    'stand/',
]

libs = [
    'include/',
    'secure/lib/',
]

filesystems = [
    'sys/fs/',
    'sys/ufs/',
]

build = [
    '.cirrus.yml',
    '.github/workflows/',
    'Makefile',
    'share/mk/',
    'tools/build/',
]

internal = [
    '.git-blame-ignore-revs',
    '.mailmap',
    'MAINTAINERS',
    'ObsoleteFiles.inc',
    'share/keys/',
    'share/misc/bsd-family-tree',
    'share/misc/committers-ports.dot',
    'share/misc/committers-src.dot',
    'share/misc/organization.dot',
    'share/monetdef/',
    'share/monetdef_unicode/',
    'tools/tools/git/',
    'tools/tools/locale/',
    'usr.bin/calendar/calendars/calendar.freebsd',
]

tests = [
    'lib/libc/tests/',
    'tools/regression/',
    'tools/test/',
    'tools/tools/crypto/cryptocheck.c',
]

contrib = [
    'cddl/contrib/',
    'contrib/',
    'crypto/openssl/',
    'sys/contrib',
]

[04-filenames_plain2]

_acts_on = "filenames"

userland = [
    'usr.bin/',
]

# Must be 2nd pass due to 'usr.sbin/ctld/'
admin = [
    'usr.sbin/',
]

# Must be 2nd pass due to 'lib/libc/tests'
libs = [
    'lib/',
]

# Must be 2nd pass due to 'sys/fs/'
kernel = [
    'sys/',
]


[05-summary-prefix]

_acts_on = "summary"

userland = [
    'lam',
]

doc = [
    '.*\.[1-9]:',
    'UPDATING',
    'man .*',
]

hardware = [
    'GEOM:',
    'apm\(8\):',
    'bluetooth:',
    'bus:',
    'cam/scsi:',
    'cxgbe\(4\):',
    'efi:',
    'moused\(8\):',
    'sound examples:',
    'udbc:',
    'virtual_oss:',
]

network = [
    'blocklistd-helper:',
    'epair:',
    'ip6:',
    'ipfilter:',
    'openssh:',
    'pf:',
    'sys/netinet6:',
    'tcp:',
    'vtnet:',
    'wlanstat\(8\):',
]

admin = [
    'cpucontrol:',
    'flua:',
    'heimdal-kadmin:',
    'jail:',
    'jaildesc:',
    'nanobsd:',
    'pci_user:',
    'stand:',
    'tty:',
]

libs = [
    'lib.*:',
    'stddef.h:',
    'uchar.h:',
]

filesystems = [
    'fusefs:',
    'pseudofs:',
    'vfs:',
    'zfs:',
    'zfsd:',
]

kernel = [
    'random:',
    'sys/crypto:',
    'sys:',
    'sysent:',
    'vmm:',
]

build = [
    'bsd\..*\.mk:',
    'packages:',
    'release:',
    'src\..*\.mk:',
]

internal = [
    'git-arc:',
]

contrib = [
    'OpenSSL:',
    'contrib/bsddialog:',
    'crypto/openssl:',
    'dtrace tests:',
    'dtrace:',
    'local-unbound-setup:',
    'opensolaris:',
    'unbound:',
]
